<nav class="navBar">
    <h1 class="logo">
        <span id="in">I n </span>d <span id="ia">i a</span>
        <i class="fas fa-bars"></i>
    </h1>
    <ul>
        <li><a id="homeActive" href="/">Home</a></li>
        <li><a id="aboutActive" href="/about">About</a></li>
        <li><a id="servicesActive" href="/services">Services</a></li>
        <li><a id="contactActive" href="/contact">Contact</a></li>
    </ul>
</nav>
