<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }

        a {
            text-decoration: none;
            color: white;
        }

        body {
            background-color: white;

            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }

        .navBar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 65px;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
        }

        .logo {
            padding-left: 30px;
            color: white;
            font-size: 2em;
            font-family: 'Fjalla One', sans-serif;
            cursor: pointer;
        }

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: space-between;
        }

        ul a {
            text-decoration: none;
            text-transform: uppercase;
            padding: 5px 30px;
            color: white;
            font-family: sans-serif;
            text-shadow: 20px;
        }

        ul li a {
            left: 20px;
        }

        #servicesActive {
            color: #FF9933;
        }

        #servicesActive:hover {
            color: white;
        }

        ul a:hover {
            color: #FF9933;
            border-radius: 20px;
            animation: 2s;
        }

        #in {
            color: #FF9933;
        }

        #ia {
            color: #138808;
        }

        .bgvid {
            min-height: 100%;
            min-width: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .content {
            position: absolute;
            top: 35%;
            text-align: center;
            left: 25%;
            margin: 20px;

        }

        .content h1 {
            font-size: 5em;
            color: white;
        }

        .btn {
            padding: 10px 30px;
            text-transform: uppercase;
            background-color: #26811f;
            color: white;
            border-color: #FF9933;
            border-radius: 20px;
            cursor: pointer;
        }

        .content p {
            color: rgb(255, 255, 255);
            font-family: sans-serif;
            font-weight: 100;
        }

        .content #one {
            color: white;
        }

        .content #two {
            color: white;
        }

        .content h1 {
            border: 1px solid rgb(255, 255, 255);
            margin-bottom: 20px;
        }

        .content p {
            margin-bottom: 20px;
        }

        .main {
            border: 0.1px solid rgba(0, 0, 0, 0.322);
            height: 100vh;
            align-items: center;
            text-align: center;

        }

        .area {
            text-align: center;
            margin-top: 150px;
            padding: 10px 10px;
            border-radius: 10px;
            align-items: center;
            display: flex;
            justify-content: space-around;

        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            height: 341px;
            margin: 20px;
            box-shadow: 0 0 10px 2px black;
        }

        .card img {
            width: 100%;
            height: 222px;
        }

        .card .h2 {
            margin-top: 5px;
        }

        .description {
            width: 100%;
            text-align: center;
            align-items: center;
            margin-top: 10px;
        }

        .btn {
            align-items: center;
            text-align: center;
            margin-top: 10px;
            padding: 0px 15px;
            box-shadow: 0 0 5px 0.1px black;
            border-radius: 5px;
            font-family: cursive;
            border: none;
        }

        .btn:hover {
            background-color: black;
            color: white;
        }
    </style>
</head>

<body>
    {{>header}}
    <div class="main">
        <div class="area">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1604078175342-6d15d9429704?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                    alt="#">
                <div class="h2">
                    <h2>Kerala</h2>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, vitae!</p>
                    <button class="btn">Read More</button>
                </div>
            </div>

            <div class="card">
                <img src="https://images.unsplash.com/photo-1593693397690-362cb9666fc2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                    alt="#">
                <div class="h2">
                    <h2>Kerala</h2>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, vitae!</p>
                    <button class="btn">Read More</button>
                </div>
            </div>

            <div class="card">
                <img src="https://images.unsplash.com/photo-1614761064673-d8cb9645e715?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80"
                    alt="#">
                <div class="h2">
                    <h2>Kerala</h2>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, vitae!</p>
                    <button class="btn">Read More</button>
                </div>
            </div>

            <div class="card">
                <img src="https://images.unsplash.com/photo-1595503591560-f4e8c50299e7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                    alt="#">
                <div class="h2">
                    <h2>Kerala</h2>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, vitae!</p>
                    <button class="btn">Read More</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>